Try to perform as much TDD as possible.
Use vitest for testing.

- Don't import react from 'react' in the top level of the file.
- Avoid mocking as much as possible and use dependency injection when possible.
- Don't leave any unused imports.
- Don't couple component matchers to translatable text or labels.
- Don't use `getByTitle` in tests.
