@import "sass-semantic-ui/src/scss/_variable.scss";

@font-face {
  font-family: 'DOS';
  font-style: normal;
  font-weight: normal;
  src: local('DOS'), url('fonts/Fixedsys500c.woff') format('woff');
}

@font-face {
  font-family: 'Icons';
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format('embedded-opentype'),
  url("fonts/icons.woff2") format('woff2'),
  url("fonts/icons.woff") format('woff'),
  url("fonts/icons.ttf") format('truetype'),
  url("fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

$font-family: DOS,SimHei,Monaco,Menlo,Consolas,'Courier New',monospace;
$primary-color: #4d94aa;
$font-color: $primary-color;
$inverted: $primary-color;
$background-color: #101010;
$body-bg-color: $background-color;

@import "sass-semantic-ui/src/scss/globals/_reset.scss";
@import "sass-semantic-ui/src/scss/globals/_site.scss";
@import "sass-semantic-ui/src/scss/elements/_input.scss";
@import "sass-semantic-ui/src/scss/elements/_button.scss";
@import "sass-semantic-ui/src/scss/elements/_icon.scss";
@import "sass-semantic-ui/src/scss/collections/_table.scss";
@import "sass-semantic-ui/src/scss/collections/_menu.scss";

body {
  color: $primary-color;
}

button {
  @extend .ui.button;
}

.app-menu {
  @extend .ui.menu;
  @extend .inverted;

  & > a {
    @extend .item;
  }
}

.search-bar {
  width: 100%;
}

.music-table {
  @extend .inverted;
  @extend .selectable;
  color: $font-color !important;
  background-color: $background-color !important;

  tr td {
    cursor: pointer;
  }
}
