@import "sass-semantic-ui/src/scss/_variable.scss";
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_grid.scss";
@import "bootstrap/scss/_forms.scss";
@import "bootstrap/scss/_buttons.scss";
@import "bootstrap/scss/_utilities.scss";
@import "bootstrap/scss/_reboot.scss";

@font-face {
  font-family: 'DOS';
  font-style: normal;
  font-weight: normal;
  src: local('DOS'), url('fonts/Fixedsys500c.woff') format('woff');
}

@font-face {
  font-family: 'Icons';
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format('embedded-opentype'),
  url("fonts/icons.woff2") format('woff2'),
  url("fonts/icons.woff") format('woff'),
  url("fonts/icons.ttf") format('truetype'),
  url("fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

$font-family: DOS,SimHei,Monaco,Menlo,Consolas,'Courier New',monospace;
$primary-color: #4d94aa;
$font-color: $primary-color;
$inverted: $primary-color;
$secondary-color: #fefe54;
$background-color: #101010;
$body-bg-color: $background-color;
$green-color: rgba(51, 255, 0, 1);
$yellow-color: #a50;

@import "sass-semantic-ui/src/scss/elements/_input.scss";
@import "sass-semantic-ui/src/scss/elements/_icon.scss";
@import "sass-semantic-ui/src/scss/collections/_table.scss";
@import "sass-semantic-ui/src/scss/views/_item.scss";
@import "sass-semantic-ui/src/scss/modules/_progress.scss";


html, body {
  height: 100%;
}

html {
  font-size: $body-font-size;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: $body-bg-color;
  font-family: $font-family;
  font-size: $body-font-size;
  color: $font-color;
  font-smoothing: antialiased;
}

#root {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "sidebar sidebar sidebar sidebar" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "contents contents contents contents" "player player player player";
}

button {
  @extend .btn;
  @extend .btn-dark;
}

.contents-container {
  & > div {
    @extend .container-fluid;

    & > div {
      @extend .row;
    }
  }
}

.sidebar-container {
  z-index: 1;
  grid-area: contents;

  &.has-results {
    grid-area: sidebar;
  }

  @extend .d-flex;
  align-items: center;

  .button {
    line-height: 96px;
    margin-left: 20px;

    a {
      @extend .btn;
      @extend .huge;
      @extend .compact;
      @extend .circular;
      @extend .icon;
      @extend .inverted;
    }
  }

  @extend .inverted;
  @extend .fluid;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.library-controls {
  @extend .fluid;
  padding: 10px 0;
}

.search-bar {
  grid-area: sidebar;

  &.ui.input {
    display: block;
    margin: 20px auto;
  }

  width: 95%;
  justify-content: center;

  input {
    @extend .fluid;
    background-color: #000 !important;
    width: 100%;
    color: $font-color;

    &:focus {
      color: $font-color !important;
    }
  }
}

.contents-container {
  overflow-y: auto;
  grid-area: contents;

  @include media-breakpoint-up(md) {
    padding: 20px;
  }
}

.music-table {
  @extend .inverted;
  @extend .selectable;
  @extend .large;
  color: $font-color !important;
  background-color: lighten($background-color, 10%) !important;

  td.action {
    cursor: pointer;
  }

  tbody tr td {
    cursor: pointer;

    .label {
      margin-right: 5px;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    &.collapsing {
      height: 100vw;

      @include media-breakpoint-up(md) {
        height: 60px;
      }
    }
  }
}

.song-view {
  grid-area: contents;
  position: relative;

  .image {
    grid-area: image;
    height: 100vw;

    @include media-breakpoint-up(md) {
      height: 60vh;
    }
  }

  .song {

    @include media-breakpoint-up(md) {
      display: grid;
      height: 100%;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "image image meta meta meta";
    }

    .content {
      grid-area: meta;
      position: absolute;
      padding: 20px;

      table {
        background-color: $body-bg-color;

        tr {
          &:first-child {
            font-size: 36px;
            line-height: 30px;

            td {
              padding-right: 12px;
              padding-left: 12px;
            }
          }

          td {
            padding-right: 12px !important;
            padding-left: 12px !important;
            &:first-child {

              @include media-breakpoint-up(md) {
                text-align: right;
              }
            }

            border-color: transparent !important;
          }
        }
      }

      @include media-breakpoint-up(md) {
        position: relative;
        padding: 0px;
      }

      .header {
        color: $font-color;
        font-size: 1.8em;

      }
      .meta {
        color: $font-color;
        font-size: 1.5em;
      }
    }
  }
}

span.label {
  color: $secondary-color;
  background-color: $yellow-color;
}

.player-container {
  grid-area: player;
  background-color: $body-bg-color;
  padding-top: 20px;

  button {
    @extend .huge;
    @extend .compact;
    @extend .circular;
    @extend .icon;
  }
}

.progress-bar {
  margin-bottom: 0;
  @extend .ui.progress;
  background-color: darken($body-bg-color, 20%);

  max-width: 95%;

  &:first-child {
    margin: 0 auto;
  }

  .bar {
    background-color: $secondary-color;
    width: 0%;
    transition: width .1s linear;

    &:hover {
      background-color: lighten($secondary-color, 20%);
    }
  }
}

.player-controls {
  @extend .d-flex;
  @extend .fluid;
  justify-content: center;
  padding: 15px 0px;

  button {
    padding: 0px;
    font-size: 34px;
    color: $secondary-color;
    background-color: $body-bg-color;

    &:hover {
      color: lighten($secondary-color, 20%);
    }
  }
}

.image {
  width: 100%;
}

.cover-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.song-row {
  &.current {
    background-color: $body-bg-color;
    color: #fff;
  }
}

.share-buttons {
  text-align: right;
}

.volume-control {
  width: 20%;
  @extend .form-group;
  align-self: flex-end;

  input {
    width: 100%;
  }
}

input.form-control:focus ,
input.form-control {
  background-color: #000 !important;
  color: $secondary-color;
}
