@import './variables.scss';

// Own styles
@import './grid.scss';
@import './layout.scss';
@import './alerts.scss';
@import './icons.scss';
@import './player.scss';
@import './spinner.scss';
@import './song-view.scss';
@import './progress.scss';
@import './neon.scss';
@import './collection.scss';
@import './sidebar.scss';
@import './settings.scss';
@import './song-row.scss';
@import './artist-view.scss';
@import './audio-canvas.scss';
@import './lazy-image.scss';
@import './playlists.scss';

html, body {
  height: 100%;
}

body * {
  @apply transition-colors duration-100;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: $font-family;
  font-size: 16px;
  color: #bee3f8;
  font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 2px rgba(#63b3ed, 1);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(#63b3ed, 0.5);
}

::-webkit-scrollbar-track:hover > ::-webkit-scrollbar-thumb {
  background-color: #63b3ed;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(#63b3ed, 0.5);
  outline: 1px solid slategrey;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #63b3ed;
}

blockquote {
  p {
    text-align: center;
  }
}

.library-controls {
  padding: 10px 0;
}

.lazy-image {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
}

.cover-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 4em;
}

.reflected-image {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.3)));
}

.react-contexify {
  z-index: 1000;
}

.react-contexify__theme--dark .react-contexify__item__content {
  width: 100%;
}

.react-contexify__item__content {
  padding: 0 !important;
}

.scroll-menu-arrow--disabled {
  display: none;
}
