.button {
  a {
    color: $primary-color;
    @extend .btn;
  }
  &.current {
    a {
      color: $primary-color;
      text-shadow: 0px 0px 5px $primary-color;
    }

    border-bottom: solid 1px $primary-color;
  }

  i {
    padding-left: 2px;
  }
}

.btn,
button {
  @extend .btn;
  color: $primary-color;

  &:hover {
    color: $primary-color;
  }

  &.circle {
    border-radius: 100%;

    i {
      margin: 0;
      display: inline;
    }
  }

  &.spaced {
    margin-right: 5px;
  }

  &.with-bg {
  }
}

.song-menu {
  button {
    width: 100%;
    text-align: left;
    margin: 0;

    i {
      margin-right: 10px;
    }
  }
}

.react-contexify {
  background-color: $greyscale-color !important;
  border: 0;
  box-shadow: none !important;
  padding: 0;
}

.settings-form button[type=submit] {
  width: 100%;
}
