.artists-table,
.queue,
.collection {
  overflow: hidden;
  width: 100%;

  &.no-results {
    margin: auto;
  }
}

.table-status {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $greyscale-color;
  color: $secondary-color-lighter2;
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;
}
