.queue,
.collection {
  overflow: hidden;
  grid-area: contents;

  &.no-results {
    margin: auto;
  }
}

.table-status {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-right: 30px;
  background-color: $greyscale-color;
  color: $secondary-color-lighter2;
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;
}
