.artists-table,
.queue,
.collection {
  overflow: hidden;
  width: 100%;
  height: 100%;

  .blockquote {
    height: 100%;
    @extend .d-flex;
    align-items: center;

    p {
      margin: 0 auto;
    }
  }

  &.no-results {
    margin: auto;
  }

  &.slim {
    max-width: 300px;
  }
}

.table-status {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $greyscale-color;
  color: $secondary-color-lighter2;
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;
}
