@font-face {
  font-family: 'DSEG7 Classic';
  src: url('../assets/fonts/fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Regular.woff2') format('woff2'),
       url('../assets/fonts/fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DSEG14 Classic';
  src: url('../assets/fonts/fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Regular.woff2') format('woff2'),
       url('../assets/fonts/fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 