.main {
  margin: 0 auto;
}

.bg-handler {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
  }
}

#player .react-player {
  top: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    z-index: 1;
  }

  video {
    position: absolute;
    z-index: 0;
    pointer-events: none;

  }
}

.react-player.fullscreen {
  &::before {
    background-color: transparent;
  }
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;

  video {
    background: black;
    z-index: 101;
    pointer-events: initial;
  }
}

.layout-contents {
  width: 100%;
  height: 100%;
}
