.player-tools {
  .rc-slider {
    height: 19px;
  }

  &.slim {
    height: 40px;


    & > div {
      @extend .d-flex;

      & > a {
        width: 100%;
      }

      .player-controls {
        width: 100%;

        button {
          font-size: 24px;
        }
      }
    }
  }
}

.player-container {
  position: relative;
  grid-area: player;
  background-color: $gray-900;
  z-index: 1000;

  .player-contents {
    @extend .d-flex;
    justify-content: flex-start;
    align-items: center;

    .media-thumb {
      display: block;
      background-color: darken($greyscale-color, 20%);
    }
  }
}

.song-title {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 14px;

  @include media-breakpoint-up(md) {
    font-size: 20px;
  }

  .song-count {
    color: darken($primary-color-100, 20%);
    margin-left: 10px;
    font-size: 12px;
  }
}

.player-controls {
  @extend .d-flex;
  justify-content: center;

  button {
    padding: 0px;
    font-size: 34px;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    margin-right: 10px;

    &:focus {
      border: none;
      outline: 0;
      box-shadow: none;
    }
  }
}

.player {
  width: 100%;
}

.volume-control {

  @include media-breakpoint-up(md) {
    padding-left: 20px;
    padding-right: 20px;
  }

  width: 20%;
  @extend .form-group;
  align-self: flex-end;

  input {
    width: 100%;
  }
}

