.player-container,
.topbar {
  background-color: rgba(black, 0.7);

  &.transparent {
    background-color: transparent;
  }
}

.player-container {
  position: relative;
  grid-area: player;

  z-index: 1000;
}
