.progress {
  background: transparent;
  height: 20px;
}

.rc-slider-track,
.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle {
  // margin-top: 0;
}

.rc-slider-handle {
  border: solid 2px $primary-color-100;
  top: 6px;
  width: 16px;
  height: 16px;
  background-color: $primary-color;
}

.rc-slider-track {
  background-color: $primary-color-400;
}
