.search-bar {
  grid-area: sidebar;

  &.ui.input {
    display: block;
    margin: 20px auto;
  }

  width: 95%;
  justify-content: center;

  input {
    width: 100%;
    @extend .form-control;
  }

  .icon {
    position: absolute;
    display: inline;
    top: 0;
    right: 10px;
    line-height: 38px;
  }
}

