.search-bar {

  &.ui.input {
    display: block;
    position: relative;
  }

  width: 100%;
  justify-content: center;

  input {
    width: 100%;
    border: none;
    box-shadow: none;
    grid-area: sidebar;
    font-size: 2rem;
    background: transparent;

    &:focus {
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }

  .icon {
    font-size: 2rem;
    position: absolute;
    display: inline;
    right: 10px;
    top: 13px;
    line-height: 38px;
  }
  border-bottom: solid 4px $greyscale-lighter2;
}

