.settings {
  padding: 40px;
  width: 100%;
  max-width: $body-max-width;

  button {
    margin-bottom: 40px;
    max-width: 200px;
  }

  @include media-breakpoint-up(md) {
    h2 {
      margin-top: 60px;

      &:first-child {
        margin-top: 20px;
      }
    }
  }

  > .btn-group {
    button {
      background: transparent;
      color: $warning;
      font-weight: normal;
    }
  }
}

.toggle-control {
  @extend .form-control;
  background: transparent;
  border: none;
}
