#left-sidebar {
  background-color: $greyscale-darker1;
  padding-top: 10px;
  width: 100%;

  @include media-breakpoint-up(md) {
    max-width: 200px;
  }

  button, .button, a {
    color: $gray-100;
    background: transparent;
  }

  h4 {
    clear: both;
    text-align: center;
    line-height: 55px;
    color: $greyscale-color-100;
  }

  ul {
    @extend .list-unstyled;
    padding-top: 35px;

    li {
      line-height: 60px;
      border-top: 2px solid $greyscale-color;

      a {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        height: 100%;
        display: inline-block;

        i {
          margin-right: 10px;
        }
      }
    }
  }

  .close-button {
    float: right;
    font-size: 30px;
  }

  i {
    margin-right: 5px;
  }
}
