.song-view {
  width: 100%;

  a:hover {
    text-decoration: underline;
  }

  .image {
    grid-area: image;
    height: 100vw;

    @include media-breakpoint-up(md) {
      height: 100%;
    }

    .cover-image {
      background-size: contain;
      background-position: center 10px;
    }
  }

  @include media-breakpoint-up(md) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .song {

    @include media-breakpoint-up(md) {
      display: grid;
      height: 100%;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "image image meta meta meta";
    }

    .content {
      grid-area: meta;
      position: absolute;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;

      @include media-breakpoint-up(md) {
        padding: 50px;
      }

      table {
        background-color: $greyscale-color;

        tr {
          &:first-child {
            font-size: 36px;
            line-height: 30px;

            td {
              padding-right: 12px;
              padding-left: 12px;
            }
          }

          td {
            padding-right: 12px !important;
            padding-left: 12px !important;
            &:first-child {

              @include media-breakpoint-up(md) {
                text-align: right;
              }
            }

            border-color: transparent !important;
          }
        }
      }

      @include media-breakpoint-up(md) {
        position: relative;
      }

      .header {
        color: $primary-color;
        font-size: 1.8em;

      }
      .meta {
        color: $primary-color;
        font-size: 1.5em;
      }
    }
  }
}
