.song-row.current {
  background-color: rgba(#63b3ed, 0.2);
}

.artist-row {
  & > a,
  & > div {
    width: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.current {
    border-bottom: 1px solid $primary-color;
    border-top: 1px solid $greyscale-color;
    background-color: $greyscale-darker1;
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

  }

  .media-info {
    color: $secondary-color-lighter1;
    padding-left: 10px;
    padding-right: 10px;
  }

  .media-actions {
    background: transparent;

    span {
      color: $secondary-color-lighter1;
    }
  }
}
