.topbar-container {
  @extend .d-flex;
  justify-content: space-between;
  border-bottom: solid 4px $greyscale-lighter2;

  & > div {
    @extend .d-flex;
    justify-content: flex-end;
  }

  z-index: 1;
  grid-area: contents;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  grid-area: topbar;

  align-items: center;

  button,
  .button {
    background: transparent;
    &.sidebar-button,
    &.connection-btn {
      margin-left: 0;
    }

    &.sidebar-button {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  h2 {
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      &:before {
        content: '> ';
      }
    }
  }
}
