// Fonts
$font-family: Monaco,Menlo,Consolas,'Courier New',monospace;

// Colors
$primary-color: #4d94aa;
$font-color: $primary-color;
$inverted: $primary-color;
$secondary-color: #fefe54;
$background-color: #101010;
$body-bg-color: $background-color;
$green-color: rgba(51, 255, 0, 1);
$yellow-color: #a50;
$button-color: $secondary-color;
$button-color-hover: $yellow-color;
$button-bg-color: $inverted;
