@import "./styles/fonts.scss";

@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind responsive;

root {
  --player-btn-radius: 9999px;
  --player-btn-inner-radius: 9999px;
  --player-btn-border: 0px;
  --player-screen-bg: rgba(0, 0, 0, 0);
  --player-screen-radius: 0px;
  --player-screen-border: 0px;
  --player-screen-shadow: none;
}

.digital-font {
  font-family: 'DSEG14 Classic', monospace;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
}

.digital-numbers {
  font-family: 'DSEG7 Classic', monospace;
  font-feature-settings: "tnum" on, "lnum" on;
  font-weight: normal;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
}

.digital-screen {
  background: var(--player-screen-bg);
  border: var(--player-screen-border);
  box-shadow: var(--player-screen-shadow);
  border-radius: var(--player-screen-radius);
}

.markdown {
  @apply flex;
  @apply text-2xl;
  @apply justify-center;
}

.frontmatter-markdown {
  @apply p-24;
  width: 100%;
}
@media (min-width: 576px) {
  .frontmatter-markdown {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .frontmatter-markdown {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .frontmatter-markdown {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .frontmatter-markdown {
    max-width: 1200px;
  }
}

.markdown h1 {
  @apply text-4xl;
}

.markdown a {
  @apply text-yellow-600;
}

.markdown ul {
  @apply list-disc;
  @apply pl-8;
}

.markdown code {
  @apply bg-black;
  @apply p-3;
}

.markdown h2 {
  @apply pt-4;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown ul,
.markdown p {
  @apply pb-6;
}

@layer utilities {
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}


