@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind responsive;

.markdown {
  @apply flex;
  @apply text-2xl;
  @apply justify-center;
}

.frontmatter-markdown {
  @apply p-24;
  width: 100%;
}
@media (min-width: 576px) {
  .frontmatter-markdown {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .frontmatter-markdown {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .frontmatter-markdown {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .frontmatter-markdown {
    max-width: 1200px;
  }
}

.markdown h1 {
  @apply text-4xl;
}

.markdown a {
  @apply text-yellow-600;
}

.markdown ul {
  @apply list-disc;
  @apply pl-8;
}

.markdown code {
  @apply bg-black;
  @apply p-3;
}

.markdown h2 {
  @apply pt-4;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown ul,
.markdown p {
  @apply pb-6;
}
